<div class="layout-row" layout-sm="column" layout-xs="column">
    <div class="mdl-cell shadow grid-margin" style="background: white;" flex="100" flex-sm="100">
        <div class="panel-header">
            Change Password
          <span class="cog">
            <md-button class="md-icon-button" aria-label="Settings" style="line-height: 0 !important;">
                <md-icon ><i class="mdi mdi-refresh" style="color: #fff;"></i></md-icon>
            </md-button>
          </span>
        </div>
        <div class="panel-body">
            <form action="">

                <md-input-container>
                    <input type="password" ng-model="pass.oldPassword" placeholder="Current Password" >
                </md-input-container>

                <md-input-container>
                    <input type="password" ng-model="pass.password1" placeholder="Password" >
                </md-input-container>

                <md-input-container>
                    <input type="password" ng-model="pass.password2" placeholder="Repeat Password" >
                </md-input-container>


                <md-button class="pull-right md-raised md-primary" ng-click="changePassword()">Change Password</md-button>
            </form>
        </div>

    </div>
</div>